@font-face { 
    font-family: 'Martel';
    src: url('../fonts/Martel-Regular.ttf');
 }
 @font-face { 
    font-family: 'Martel';
    font-weight: bold;
    src: url('../fonts/Martel-Bold.ttf');
 }

 @font-face { 
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
 }
 @font-face { 
    font-family: 'Playfair';
    font-weight: bold;
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
 }

:root {
    --central-column-max-width: 1040px;
    --side-columns-width: calc((100vw - var(--central-column-max-width))/2);
}
html {
    scroll-behavior: smooth;
}

a { 
    color: inherit;
    text-decoration: none; 
} 

.linha-separadora {
    width: 120px;
    height: 2px;
    background: #A58656;
}
.all-options{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: #333333;
    z-index: 200;
}
.buttom-vamos-conversar {
    width: 122px;
    background: #242C40;
    padding: 8px 16px;
    cursor: pointer;
}
.buttom-vamos-conversar-label {
    font-family: 'Martel';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.header {
    position: fixed;
    background-color: transparent; 
    width: 100%;
    display: flex; 
    flex-direction: column;
    z-index: 100;
}
.header-superior {
    padding: 6px var(--side-columns-width) 6px var(--side-columns-width); 
    font-family: 'Martel'; 
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.contato-advogada > span {
    padding-right: 24px;
    text-decoration: none;
}
.redes-sociais > a > img {
    padding-left: 24px;
    cursor: pointer;
}
.header-line {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}
.header-inferior {
    padding: 6px var(--side-columns-width) 6px var(--side-columns-width); 
    font-family: 'Martel'; 
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options > span {
    padding-left: 24px;
    cursor: pointer;
}
.options-mobile{
    display: none;
}
/* .options > span > a {
    border-bottom: 2px solid #A58656;
} */

.home {
    background-color: #242C40; 
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.home > img {
    width: 100%;
    max-height: calc(100vh*0.8);
}
.home-text{
    position: absolute;
    padding: 206px var(--side-columns-width) 0px var(--side-columns-width);
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
.home-text-title {
    font-family: 'Playfair';
    /* padding: 8px 0px; */
    font-weight: 900;
    font-size: 52px;
}
.home-text-subtitle {
    font-family: 'Martel';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px
}
.home-images{
    padding-right: var(--side-columns-width);
}

.inputs {
    margin: 0px var(--side-columns-width);
    -webkit-transform: translate(0px,-64%);
    display: flex;
    justify-content: space-between;
}
textarea, input { outline: none; }
.input {
    border: unset;
    padding: 12px;
    margin-right: 16px;
    border-bottom: 2px solid grey;
    font-family: Martel;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 292px;
}
.inputs-container {
    background: #FFFFFF;
    padding: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}
.loading {    
    display: none;
}
.inputs > .inputs-container > .buttom-vamos-conversar {
    background-color: #A58656;
    margin-left: 8px;
    height: 20px;
    align-self: center;
}
.escritorio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.escritorio-titulo {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 124px var(--side-columns-width);
}
.escritorio-titulo-texto {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #242C40;
    min-width: 336px;
}
.escritorio-titulo-linha {
    width: 34%;
    height: 2px;
    background: #A58656;
}
.escritorio-descricao {
    padding: 40px var(--side-columns-width) 124px 0px;
    font-family: 'Martel';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #282828;
}
.atendimento {
    display: flex;
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: flex-start;
}
.atendimento-imagens{
    padding: 0 0 0 var(--side-columns-width);
}
.atendimento-imagem-senhoras{
    content:url('../images/senhoras.png');
}
.atendimento-imagem-senhoras-sombra{
    content:url('../images/senhoras-sombra.svg');
}
.atendimento-textos {
    display: flex;
    flex-direction: column;
    padding: 52px var(--side-columns-width) 120px 112px;
    /* max-width: 424px; */
}
.atendimento-textos-titulo {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 16px;
}
.atendimento-textos-linha {
    width: 28%;
    height: 2px;
    background: #A58656;
}
.atendimento-textos-descricao {
    font-family: 'Martel';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 48px;
}

.atuacao {
    display: flex;
    flex-direction: column;
    background: #F6F3EE;
    padding: 80px var(--side-columns-width) 0px var(--side-columns-width);
    align-items: center;
    padding-bottom: 332px;
}
.atuacao-textos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
}
.atuacao-textos-titulo {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #242C40;
    padding-bottom: 16px;
}
.atuacao-textos-linha {
    height: 2px;
    background: #A58656;
    width: 28%;
}
.atuacao-textos > .linha-separadora {
    margin-bottom: 32px;
}
.atuacao-direitos {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
}
.atuacao-direitos-topico {
    display: flex;
    flex-direction: column;
    flex: 32%;
    padding: 0px 24px 72px 40px;
}
.atuacao-direitos-topico > img {
    width: 48px;
    height: 48px;
}
.atuacao-direitos-topico-titulo {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #242C40;
    padding: 16px 0px;
}
.atuacao-direitos-topico-subtitulo {
    font-family: 'Martel';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4D556B;
}

.sobre{
    display: flex;
    padding: 0px var(--side-columns-width) 112px var(--side-columns-width);
    -webkit-transform: translate(0px,-195px);
    /* background: #F6F3EE; */
}
.sobre-box {
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    background: #242C40;
}
.sobre-box-text {
    display: flex;
    flex-direction: column;
}
.sobre-box-text-titulo {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    color: #FFFFFF;
    padding-top: 84px;
}
.sobre-box-text-cargo {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #A58656;
}
.sobre-box-text-descricao {
    font-family: 'Martel';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 16px 48px 32px 0px;
}

.blog{
    display: flex;
    flex-direction: column;
    padding: 0px var(--side-columns-width);
    -webkit-transform: translate(0px,-195px);
}
.blog-textos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
}
.blog-textos-titulo {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #242C40;
    padding-bottom: 16px;
}
.blog-destaques {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.blog-destaques-destaque {
    display: flex;
    flex-direction: column;
    padding: 56px 0px 80px 0px;
    max-width: 248px;
}
.blog-destaques-destaque-titulo {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #242C40;
    padding-top: 24px;
}
.blog-destaques-destaque-categoria {
    font-family: Martel;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;    
    color: #A58656;
}
.blog-destaques-destaque-texto {
    font-family: Martel;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #282828;
    padding: 16px 0px;
}
.ver-mais-box{
    background: #242C40;
    padding: 8px 16px;
    width: fit-content;
    cursor: pointer;
}
.ver-mais-box-text{
    font-family: 'Martel';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.footer {
    background-color: #242C40; 
    width: 100%;
    font-family: 'Martel'; 
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.footer > .contato-advogada {
    padding: 12px 0px 12px var(--side-columns-width);
}
.copyright {
    padding: 12px var(--side-columns-width) 12px 0px;
}

@media only screen and (max-width: 935px) {
    :root {
        --central-column-max-width: unset;
        --side-columns-width: 16px;
    }
    .loading {    
        display: none;
        width: 44px;
        height: 44px;
        align-self: flex-end;
    }
    .all-options{
        display: none;
        flex-direction: column;
    }
    .options{
        display: none;
    }
    .options-mobile{
        display: block;
    }
    .contato-advogada{
        display: none;
    }
    .inputs-container{
        flex-direction: column;
    }
    .header-superior{
        align-self: flex-end;
    }
    .input{
        margin-right: unset;
    }
    .inputs > .inputs-container > .buttom-vamos-conversar{
        margin-left: unset;
        margin-top: 16px;
        align-self: flex-end;
    }
    .inputs {
        -webkit-transform: translate(0px,-40px);
    }
    .home{
        height: 552px;
    }
    .home > img {
        height: 100%;
    } 
    .home-text{
        padding: 121px var(--side-columns-width) 0px var(--side-columns-width);
    }
    .home-text-title {
        font-family: 'Playfair';
        font-size: 32px;
    }
    .home-text-subtitle {
        font-size: 14px;
    }
    .escritorio{
        flex-direction: column;
    }
    .escritorio-titulo-texto{
        font-size: 32px;
    }
    .escritorio-titulo{
        padding: 40px 0px 0px var(--side-columns-width);
    }
    .escritorio-descricao{
        padding: 16px var(--side-columns-width) 96px var(--side-columns-width);
    }
    .atendimento{
        flex-direction: column;
        padding-bottom: unset;
    }
    .atendimento-imagem-senhoras{
        content:url('../images/senhoras-mobile.png');
    }
    .atendimento-imagem-senhoras-sombra{
        content:url('../images/senhoras-sombra-mobile.png');
    }
    .atendimento-textos{
        padding: 40px var(--side-columns-width) 88px var(--side-columns-width);
    }
    .atuacao-textos-titulo{
        text-align: center;
        font-size: 32px;
    }
    .sobre{
        padding: 0px var(--side-columns-width) 80px var(--side-columns-width);
    }
    .sobre-box{
        flex-direction: column;
    }
    .sobre-box-text{
        padding: 0px 16px;
    }
    .sobre-box-text-titulo{
        padding-top: 32px;
    }
    .sobre-box-text-descricao{
        padding: 16px 0px 32px 0px;
    }
    .blog-textos-titulo{
        text-align: center;
        font-size: 32px;
        padding-bottom: 8px;
    }
    .blog-destaques-destaque{
        padding: 40px 0px 80px 0px;

    }
    .header-all {
        background-color: transparent; 
        width: 100%;
        display: flex; 
        flex-direction: column;
        z-index: 100;
    }
    .options-all{
        padding: 0px 24px;
        display: flex;
        flex-direction: column;
    }
    .options-all > span {
        font-family: 'Martel';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        padding-top: 28px;
    }
    .footer-all{
        padding-top: 200px;
        display: flex;
        flex-direction: column;
    }
    .contato-advogada-all{
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Martel';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
    }
}