<span id="blog" class="blog">
    <span class="blog-textos">
        <span class="blog-textos-titulo">Textos em destaque</span>
        <span class="linha-separadora"></span>
    </span>
    <span class="blog-destaques">
        <span class="blog-destaques-destaque">
            <img src="./images/destaques/arte-advogar.jpg" alt="Destaque 1">
            <span class="blog-destaques-destaque-titulo">Meu eu advogada.</span>
            <span class="blog-destaques-destaque-categoria">Texto</span>
            <span class="blog-destaques-destaque-texto">Um pouco sobre mim e o que me fez ser advogada</span>
            <span class="ver-mais-box">
                <span class="ver-mais-box-text"><a href="./pages/blog.html?text=meu-eu-advogada">Ver Mais</a></span>
            </span>
        </span>
    </span>
</span>