<div class="all-options">
    <div class="header-all">
        <span class="header-superior">
            <span class="redes-sociais">
                <a href="https://wa.me/5531984149297" target="_blank" rel="noopener noreferrer"><img src="/icons/header/whatsapp.svg" alt="Whatsapp icon"/></a>
                <a href="https://www.instagram.com/thaislgr/" target="_blank" rel="noopener noreferrer"><img src="/icons/header/instagram.svg" alt="Instagram icon"/></a>
                <a href="https://www.facebook.com/thais.lararesende" target="_blank" rel="noopener noreferrer"><img src="/icons/header/facebook.svg" alt="Facebook icon"/></a>
            </span>
        </span>
        <span class="header-line"></span>
        <span class="header-inferior">
            <span class="logo">
                <img src="/icons/header/logo.svg" alt="Thais Lara logo"/>
            </span>
            <span class="options-close">
                <img src="/icons/header/close.svg" alt="Close icon"/>
            </span>
        </span>
    </div>    
    <span class="options-all">
        <span><a href="#home">Início</a></span>
        <span><a href="#escritorio">Escritório</a></span>
        <span><a href="#atendimento">Atendimento</a></span>
        <span><a href="#atuacao">Atuação</a></span>
        <span><a href="#sobre">Sobre</a></span>
        <!-- <span><a href="#blog">Blog</a></span> -->
    </span>
    <span class="footer-all">
        <span class="header-line"></span>
        <span class="contato-advogada-all">
            <span>escritorio@thaislara.com</span>
            <span>(31) 98414-9297</span>
        </span>
    </span>
</div>
<div id="header" class="header">
    <span class="header-superior">
        <span class="contato-advogada">
            <span>escritorio@thaislara.com</span>
            <span>(31) 98414-9297</span>
        </span>
        <span class="redes-sociais">
            <a href="https://wa.me/5531984149297" target="_blank" rel="noopener noreferrer"><img src="/icons/header/whatsapp.svg" alt="Whatsapp icon"/></a>
            <a href="https://www.instagram.com/thaislgr/" target="_blank" rel="noopener noreferrer"><img src="/icons/header/instagram.svg" alt="Instagram icon"/></a>
            <a href="https://www.facebook.com/thais.lararesende" target="_blank" rel="noopener noreferrer"><img src="/icons/header/facebook.svg" alt="Facebook icon"/></a>
        </span>
    </span>
    <span class="header-line"></span>
    <span class="header-inferior">
        <span class="logo">
            <img src="/icons/header/logo.svg"  alt="Thais Lara logo"/>
        </span>
        <span class="options">
            <span><a href="#home">Início</a></span>
            <span><a href="#escritorio">Escritório</a></span>
            <span><a href="#atendimento">Atendimento</a></span>
            <span><a href="#atuacao">Atuação</a></span>
            <span><a href="#sobre">Sobre</a></span>
            <!-- <span><a href="#blog">Blog</a></span> -->
        </span>
        <span class="options-mobile">
            <img src="/icons/header/options.svg"  alt="Mobile options"/>
        </span>
    </span>
</div>
