<div class="all-options">
    <div class="header-all">
        <span class="header-superior">
            <span class="redes-sociais">
                <a href="https://wa.me/5531991507665" target="_blank" rel="noopener noreferrer"><img src="/icons/header/whatsapp.svg" alt="Whatsapp icon"/></a>
                <a href="https://www.instagram.com/resendesilvasj/" target="_blank" rel="noopener noreferrer"><img src="/icons/header/instagram.svg" alt="Instagram icon"/></a>
                <a href="https://www.facebook.com/thais.lararesende" target="_blank" rel="noopener noreferrer"><img src="/icons/header/facebook.svg" alt="Facebook icon"/></a>
            </span>
        </span>
        <span class="header-line"></span>
        <span class="header-inferior">
            <span class="logo">
                <img src="/icons/header/logo.svg" alt="Thais Lara logo"/>
            </span>
            <span class="options-close">
                <img src="/icons/header/close.svg" alt="Close icon"/>
            </span>
        </span>
    </div>    
    <span class="options-all">
        <span id="header-mobile-home">Início</span>
        <span id="header-mobile-escritorio">Escritório</span>
        <span id="header-mobile-atendimento">Atendimento</span>
        <span id="header-mobile-atuacao">Atuação</span>
        <span id="header-mobile-sobre">Sobre</span>
        <span id="header-mobile-blog">Blog</span>
    </span>
    <span class="footer-all">
        <span class="header-line"></span>
        <span class="contato-advogada-all">
            <span>escritorio@resendesilva.com</span>
            <span>(31) 99150-7665</span>
        </span>
    </span>
</div>
<div id="header" class="header">
    <span class="header-superior">
        <span class="contato-advogada">
            <span>escritorio@resendesilva.com</span>
            <span>(31) 99150-7665</span>
        </span>
        <span class="redes-sociais">
            <a href="https://wa.me/5531991507665" target="_blank" rel="noopener noreferrer"><img src="/icons/header/whatsapp.svg" alt="Whatsapp icon"/></a>
            <a href="https://www.instagram.com/resendesilvasj/" target="_blank" rel="noopener noreferrer"><img src="/icons/header/instagram.svg" alt="Instagram icon"/></a>
            <a href="https://www.facebook.com/thais.lararesende" target="_blank" rel="noopener noreferrer"><img src="/icons/header/facebook.svg" alt="Facebook icon"/></a>
        </span>
    </span>
    <span class="header-line"></span>
    <span class="header-inferior">
        <span class="logo">
            <img src="/icons/header/logo.svg"  alt="Thais Lara logo"/>
        </span>
        <span class="options">
            <span id="header-home">Início</span>
            <span id="header-escritorio">Escritório</span>
            <span id="header-atendimento">Atendimento</span>
            <span id="header-atuacao">Atuação</span>
            <span id="header-sobre">Sobre</span>
            <span id="header-blog">Blog</span>
        </span>
        <span class="options-mobile">
            <img src="/icons/header/options.svg"  alt="Mobile options"/>
        </span>
    </span>
</div>
